{
    "plugins": ["prettier", "@typescript-eslint"],
    "extends": ["airbnb-typescript", "react-app", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "settings": {
      "import/resolver": {
        "typescript": {
          "alwaysTryTypes": true
        }
      }
    },
    "rules": {
      "@typescript-eslint/semi": ["warn", "always"],
      "object-curly-spacing": ["error", "always"],
      "no-unused-vars": ["warn", { "ignoreRestSiblings": true }],
      "@typescript-eslint/no-unused-vars": "off",
      "@typescript-eslint/no-explicit-any": [
        "error",
        {
          "ignoreRestArgs": true
        }
      ],
      "max-len": [
        "error",
        {
          "code": 120,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true,
          "ignoreComments": true
        }
      ],
      "no-plusplus": [
        "error",
        {
          "allowForLoopAfterthoughts": true
        }
      ],
      "no-param-reassign": 0,      
      "react/jsx-key": "error",
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": [
            "**/*.test.js",
            "**/*.test.jsx",
            "**/*.test.ts",
            "**/*.test.tsx",
            "src/tests/**/*"
          ]
        }
      ],
      "react/jsx-props-no-spreading": "off",
      "import/prefer-default-export": "off",
      "react/jsx-boolean-value": "off",
      "react/prop-types": "off",
      "react/no-unescaped-entities": "off",
      "react/jsx-one-expression-per-line": "off",
      "react/jsx-wrap-multilines": "off",
      "react/destructuring-assignment": "off",
      "react/static-property-placement": "off",
      "react/jsx-indent": ["error", 2],
      "@typescript-eslint/indent": ["error", 2],
      "import/no-cycle": [1, { "maxDepth": 1 }],
      "semi": ["error", "always"],
      "indent": ["error", 2, { "SwitchCase": 1 }],
      "linebreak-style": 0,
      "quotes": ["error", "single", { "avoidEscape": true }],
      "default-case": "off",
      "no-prototype-builtins": "off",
      "no-throw-literal": "off",
      "no-use-before-define": "off",
      "camelcase": "off",
      "spaced-comment": "off",
      "import/no-unresolved": "off",
      "no-underscore-dangle": "off",
      "space-before-function-paren": [
        "error",
        {
          "anonymous": "always",
          "named": "never"
        }
      ],
      "radix": ["error", "always"],
      "arrow-parens": [0],
      "no-cond-assign": ["error", "always"],
      "no-console": [
        "error",
        {
          "allow": ["warn", "error", "log"]
        }
      ],
      "prefer-template": "off",
      "class-methods-use-this": [0],
      "no-confusing-arrow": "off",
      "new-cap": "off",
      "no-nested-ternary": "off",
      "react/sort-comp": "off",
      "react/no-did-update-set-state": "off",
      "react/no-children-prop": "off",
      "react/no-find-dom-node": "off",
      "no-unused-expressions": "off",
      "react/prefer-stateless-function": "off"
    }
  }